In [10]:
import pandas as pd
import awswrangler as wr
import matplotlib.pyplot as plt 
import seaborn as sns 
import io
import boto3
from botocore.exceptions import ClientError
from io import StringIO
from format_dav import format_dav

ImportError: cannot import name 'format_dav' from 'format_dav' (/home/delfos/Downloads/dav_fosfatec/format_dav.py)

In [2]:
s3Resource = boto3.resource('s3')
s3Client = boto3.client('s3')

In [3]:
bucket_name = 'upowl'
file_key = 'clients/fosfatec/Relatórios_IA/DAV_2015.xlsx'

In [4]:
upowlBucket = s3Resource.Bucket(bucket_name)

In [5]:
anos = ['2015','2016', '2017', '2018', '2019', '2020']
#anos = ['2015']

In [6]:
#stores = [""]
stores = ["",'005', '012', '013','017', '019', '018']

df_all = pd.DataFrame()

In [7]:
for ano in anos :
    for store in stores :
        if(store):    
            try:
                obj = s3Client.get_object(Bucket=bucket_name, Key='clients/fosfatec/Relatórios_IA/DAV_'+ano+'_'+store+'.xlsx')
                print ('clients/fosfatec/Relatórios_IA/DAV_'+ano+'_'+store+'.xlsx')
                df = pd.read_excel(io.BytesIO(obj['Body'].read()))                
                df['store'] = store
                df['year'] = ano
                                
                df_all = pd.concat([df_all, df])
            except ClientError as e:
                print ('clients/fosfatec/Relatórios_IA/DAV_'+ano+'_'+store+'.xlsx')
                print(e)
        else:
            try:
                obj = s3Client.get_object(Bucket=bucket_name, Key='clients/fosfatec/Relatórios_IA/DAV_'+ano+'.xlsx')
                df = pd.read_excel(io.BytesIO(obj['Body'].read()))
                
                df['store'] = '005'
                df['year'] = ano
                                
                df_all = pd.concat([df_all, df])
                
                
            except ClientError as e:
                print ('clients/fosfatec/Relatórios_IA/DAV_'+ano+'.xlsx')
                print(e, '\n')

clients/fosfatec/Relatórios_IA/DAV_2015_005.xlsx
An error occurred (AccessDenied) when calling the GetObject operation: Access Denied
clients/fosfatec/Relatórios_IA/DAV_2015_012.xlsx
An error occurred (AccessDenied) when calling the GetObject operation: Access Denied
clients/fosfatec/Relatórios_IA/DAV_2015_013.xlsx
An error occurred (AccessDenied) when calling the GetObject operation: Access Denied
clients/fosfatec/Relatórios_IA/DAV_2015_017.xlsx
An error occurred (AccessDenied) when calling the GetObject operation: Access Denied
clients/fosfatec/Relatórios_IA/DAV_2015_019.xlsx
An error occurred (AccessDenied) when calling the GetObject operation: Access Denied
clients/fosfatec/Relatórios_IA/DAV_2015_018.xlsx
An error occurred (AccessDenied) when calling the GetObject operation: Access Denied
clients/fosfatec/Relatórios_IA/DAV_2016_005.xlsx
An error occurred (AccessDenied) when calling the GetObject operation: Access Denied
clients/fosfatec/Relatórios_IA/DAV_2016_012.xlsx
An error occurred (AccessDenied) when calling the GetObject operation: Access Denied
clients/fosfatec/Relatórios_IA/DAV_2016_013.xlsx
An error occurred (AccessDenied) when calling the GetObject operation: Access Denied
clients/fosfatec/Relatórios_IA/DAV_2016_017.xlsx
An error occurred (AccessDenied) when calling the GetObject operation: Access Denied
clients/fosfatec/Relatórios_IA/DAV_2016_019.xlsx
An error occurred (AccessDenied) when calling the GetObject operation: Access Denied
clients/fosfatec/Relatórios_IA/DAV_2016_018.xlsx
An error occurred (AccessDenied) when calling the GetObject operation: Access Denied
clients/fosfatec/Relatórios_IA/DAV_2017.xlsx
An error occurred (AccessDenied) when calling the GetObject operation: Access Denied

clients/fosfatec/Relatórios_IA/DAV_2017_005.xlsx
clients/fosfatec/Relatórios_IA/DAV_2017_012.xlsx
An error occurred (AccessDenied) when calling the GetObject operation: Access Denied
clients/fosfatec/Relatórios_IA/DAV_2017_013.xlsx
An error occurred (AccessDenied) when calling the GetObject operation: Access Denied
clients/fosfatec/Relatórios_IA/DAV_2017_017.xlsx
clients/fosfatec/Relatórios_IA/DAV_2017_019.xlsx
clients/fosfatec/Relatórios_IA/DAV_2017_018.xlsx
clients/fosfatec/Relatórios_IA/DAV_2018.xlsx
An error occurred (AccessDenied) when calling the GetObject operation: Access Denied

clients/fosfatec/Relatórios_IA/DAV_2018_005.xlsx
clients/fosfatec/Relatórios_IA/DAV_2018_012.xlsx
An error occurred (AccessDenied) when calling the GetObject operation: Access Denied
clients/fosfatec/Relatórios_IA/DAV_2018_013.xlsx
clients/fosfatec/Relatórios_IA/DAV_2018_017.xlsx
clients/fosfatec/Relatórios_IA/DAV_2018_019.xlsx
clients/fosfatec/Relatórios_IA/DAV_2018_018.xlsx
clients/fosfatec/Relatórios_IA/DAV_2019.xlsx
An error occurred (AccessDenied) when calling the GetObject operation: Access Denied

clients/fosfatec/Relatórios_IA/DAV_2019_005.xlsx
clients/fosfatec/Relatórios_IA/DAV_2019_012.xlsx
An error occurred (AccessDenied) when calling the GetObject operation: Access Denied
clients/fosfatec/Relatórios_IA/DAV_2019_013.xlsx
clients/fosfatec/Relatórios_IA/DAV_2019_017.xlsx
clients/fosfatec/Relatórios_IA/DAV_2019_019.xlsx
clients/fosfatec/Relatórios_IA/DAV_2019_018.xlsx
clients/fosfatec/Relatórios_IA/DAV_2020.xlsx
An error occurred (AccessDenied) when calling the GetObject operation: Access Denied

clients/fosfatec/Relatórios_IA/DAV_2020_005.xlsx
clients/fosfatec/Relatórios_IA/DAV_2020_012.xlsx
An error occurred (AccessDenied) when calling the GetObject operation: Access Denied
clients/fosfatec/Relatórios_IA/DAV_2020_013.xlsx
clients/fosfatec/Relatórios_IA/DAV_2020_017.xlsx
An error occurred (AccessDenied) when calling the GetObject operation: Access Denied
clients/fosfatec/Relatórios_IA/DAV_2020_019.xlsx
clients/fosfatec/Relatórios_IA/DAV_2020_018.xlsx

In [11]:
df_all.tail()

,Data da Venda,Loja/ Depósito de Venda,CAP_SEQU,Código do Fornecedor,Código do Cliente,Referência/ Código do Produto,Descrição do Produto,Código do Grupo,Descrição do Grupo,Código do Subgrupo,Descrição do Subgrupo,Código da Categoria,Descrição da Categoria,Quantidade,store,year
65919,2020-10-31,NaN,267148,5956,0,399,MRPET- BEBEDOURO MEDIO,1,NaN,1,NaN,NaN,NaN,1.0,018,2020
65920,2020-10-31,NaN,267148,1,0,4540,FORRO GAIOLA GG,14,NaN,28,NaN,NaN,NaN,1.0,018,2020
65921,2020-10-31,NaN,267148,6924,0,10109,BASSAR DENTAL CARE M 70G,25,NaN,1,NaN,NaN,NaN,1.0,018,2020
65922,2020-10-31,NaN,267148,6543,0,10545,PET-INJ BRINQ CALOPS/PSITA 2 TALOS MAD,6,NaN,1,NaN,NaN,NaN,1.0,018,2020
65923,2020-10-31,NaN,267148,2757,0,5516,GOLDEN FORM CAES AD MB FGO/ARROZ 15KG,3,NaN,1001,NaN,NaN,NaN,1.0,018,2020

In [12]:
df_by_year = format_dav(anos, df_all)

NameError: name 'format_dav' is not defined

In [ ]:
df_by_year['2016']

In [49]:
# Export

In [50]:
for year in df_by_year:
    df = df_by_year[year]
    csv_buffer = StringIO()
    df.to_csv(csv_buffer)
    s3_resource = boto3.resource('s3')
    s3_resource.Object(bucket_name, 'clients/fosfatec/Formated DAVs/'+year+'.csv').put(Body=csv_buffer.getvalue())
#        s3Client.put_object(Body=xlx_buffer.getvalue(), Bucket=bucket_name, Key='clients/fosfatec/Formated DAVs/'+year+'.xlsx')

In [ ]:
for year in df_by_year:
    df = df_by_year[year]
    df.to_excel('Formated DAVs/'+year+'.xlsx')

In [ ]:
# df_all.tail(10)

In [ ]:
# df.tail()

In [ ]:
# df['Store'] = '005'

In [ ]:
# df.head()

ClientError: An error occurred (AccessDenied) when calling the ListObjectsV2 operation: Access Denied

In [71]:
obj = s3Client.get_object(Bucket=bucket_name, Key='clients/fosfatec/Formated DAVs/2017.csv')
df = pd.read_csv(io.BytesIO(obj['Body'].read()))

In [72]:
df.head()

,year,store,time,client_id,product_id,group_id,subgroup_id,quantity
0,2017,5,2017-01-02,0,4,1,15,2.0
1,2017,5,2017-01-02,0,26,1,1,6.0
2,2017,5,2017-01-02,0,37,1,1,2.0
3,2017,5,2017-01-02,0,59,1,1,4.0
4,2017,5,2017-01-02,0,82,1,1013,1.0

In [73]:
test = df.drop_duplicates(subset=['store'])

In [74]:
test

,year,store,time,client_id,product_id,group_id,subgroup_id,quantity
0,2017,5,2017-01-02,0,4,1,15,2.0
16270,2017,17,2017-03-29,0,188,7,1,0.1
31816,2017,18,2017-03-29,0,59,1,1,24.0
59464,2017,19,2017-03-28,0,3,18,1017,1.0